<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head.ejs') %>
   <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div>
        <h1>DETOX PREP BOX</h1> 
    </div>
    <div class="detox_meal">
        <ul class="detox_meal_container">
            <%for(let detox of detoxs) {%>
                <li class="detox_meal_items">
                    <h2><%= detox.name %></h2> 
                    <br />
                        <a href="/detox/<%=detox._id%>">
                            <img src= <%= detox.images %> height="300" width="350">

                        </a>
                        <br />
                        <h4 class="dinner_name"><%= detox.dinner %></h4>
                        <br />
                            <p>2 Meals</p> 
                            <p>1 Snack</p>  
                            <p>2 Teas & 1 pill</p>  
                 </li>                    
            <%}%>    
        </ul>

    </div>
    <div class="create-meal">
        <ul>
            <li><a href="/detox/new"><button class="add-meal">Add Meal</button></a></li>
                <li><a href="/detox/cart"><button class="purchase-meal-plan">Purchase Meal Plan</button></a></li>

        </ul>
    </div>

</body>
</html>