<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/showDetoxMeal.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/nav.ejs">
</head>
<body>
  <%- include ('./partials/nav.ejs') %>
    <div class="show-meal" id="flex-container">
         <h1>Full Meal Plan Content</h1>
    <h2 class="meal_day_detox_meal"><%= keto.day %></h2>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src= <%= keto.image %> class="d-block w-100" alt="breakfast" width="400" height="350">
              </div>
              <div class="carousel-item">
                <img src=<%= keto.images %>  class="d-block w-100" alt="dinner" width="400" height="350">>
              </div>
              <div class="carousel-item">
                <img src=<%= keto.img %>  class="d-block w-100" alt="herbs" width="400" height="350">>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <br />
        
        Breakfast: <%= keto.breakfast %> 
        <br />
        lunch: <%= keto.lunch %>
        <br />
        Dinner: <%= keto.dinner %>
    </div>
    <div class="delete-edit">
        <div>
            <a href="/keto/<%=keto._id%>/edit"><button class="meal-edit">Edit Meal</hbutton</a>
        </div>
        <br />
        <form action="/keto/<%=keto._id%>?_method=DELETE" method="POST">
            <button type="submit" class="delete">DELETE PRODUCT</button>
        </form>
        <br />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>